.btn {
  background-color: var(--secondary-content);
  padding: 10px 25px;
  border-radius: 7px;

  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: 14px;
  color: white;
  text-transform: capitalize;
  font-family: var(--normal-font);
  text-align: center;
  letter-spacing: 2px;

  border: thin solid var(--pri-color);
}

.btn:hover {
  transform: translateY(2px);
}
